# Project exclude paths
/leyou/ly-auth/target/
/leyou/ly-cart/target/
/leyou/ly-common/target/
/leyou/ly-gateway/target/
/leyou/ly-item/ly-item-service/target/
/leyou/ly-order/target/
/leyou/ly-user/ly-user-service/target/
# Project exclude paths
/leyou-portal/node_modules/